@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.container {
  @apply mx-auto w-full max-w-screen-2xl px-5 sm:px-8;
}
